.vocalshell {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.recording {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recording > * {
  margin: 8px 0;
}

.shell {
  margin-top: 16px;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  width: 100%;
  background: #7a7a7a;
  /* background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(111,111,111,1) 0%, rgba(160,160,160,1) 100%); */
  border-radius: 8px 8px 0 0;
}

.shell-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 400px;
  width: 100%;
  color: white;
  background-color: #363636;
  padding: 8px;
  border-radius: 0 0 8px 8px;
}

.shell-body > * {
  margin: 4px 0;
}

.red-dot, .yellow-dot, .green-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.red-dot {
  background: rgb(54,54,54);
  background: linear-gradient(256deg, rgba(54,54,54,1) 0%, rgba(192,37,37,1) 0%, rgba(208,94,94,1) 100%);
}

.green-dot {
  background: rgb(54,54,54);
  background: linear-gradient(256deg, rgba(54,54,54,1) 0%, rgba(35,208,87,1) 0%, rgba(102,255,125,1) 100%);
}

.yellow-dot {
  background: rgb(54,54,54);
  background: linear-gradient(256deg, rgba(54,54,54,1) 0%, rgba(247,255,64,1) 0%, rgba(254,255,149,1) 100%);
}